@font-face {
    font-family: "AGENTORANGE" ;
    src: url("../font/AGENTORANGE.TTF");
}

@font-face {
    font-family: "KgHolocene";
    src: url("../font/KgHoloceneRegular-lgjKy.ttf");
}

#Dashboard-container
{
    border: 2px solid rgb(240, 248, 250);
    height: 90%;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    border-radius: 20px ;
    background-color: white;
    box-shadow: 10px 10px 10px gainsboro;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#dashboard-container-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dashboard-container-header > span
{
    margin-left: 50px;
    margin-top: 20px;
    font-family: "AGENTORANGE";
    font-size: 20px;
    font-weight: bolder;
    color:dodgerblue;
    
}

